.comment {
    margin-bottom: 10px;
    padding: 30px;
    border: 1px solid gray;
}

.comment.hidden {
    display: none;
}

.comment:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}